* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 2px;
}

h1 {
  text-align: center;
  padding-top: 3rem
}

.App {
  height: 100vh;
  background: #C6FFDD;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#quote-box {
  width: 50vw;
  height: 400px;
  padding: 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 50%;
  border-radius: 8px;
  box-shadow: 3px 3px 5px 6px #ccc;
  background: #FFEFBA;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #FFEFBA);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#text {
  margin: auto;
}

#new-quote {
  border-radius: 8px;
  background: #fff;
  position: relative;
  float: right;
}

#tweet-quote {
  text-decoration: none;
  color: rgb(15, 146, 233);
  position: relative;
  float: left;
}

#new-quote,
#tweet-quote {
  padding: 20px;
  margin: 4rem auto;
  bottom: 0;
  font-size: 1.1rem;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 1.5rem;
  }

  #quote-box {
    width: 95vw;
  }

  #new-quote {
    font-size: 0.8rem;
  }

}